{% extends "layout.html" %}

{% block title %}トップページ - Mellow Mate{% endblock %}

{% block content %}
    <div class="welcome-container">
        <h1>Mellow Mate へようこそ</h1>
        <h2>「ゆるく、賢く、自分を整える」</h2>
        <ul>
            <li>食事を記録して、目標体重を目指そう</li>
            <li>簡単な入力で、今の自分の状態をグラフ化</li>
            <li>無料で始めてみましょう</li>
        </ul>

        <div class="actions">
            <a href="{{ url_for('register') }}">新規登録</a>
            <a href="{{ url_for('login') }}" class="btn">ログイン</a>
        </div>
    </div>
{% endblock %}