{% extends "layout.html" %}

{% block title %}ユーザー登録 - Mellow Mate{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1>ユーザー情報入力</h1>
        <form action="{{ url_for('register') }}" method="post">
            
            <div class="form-group">
                <label for="userName">ユーザー名:</label>
                <input type="text" id="userName" name="userName" required>
            </div>

            <div class="form-group">
                <label for="age">年齢:</label>
                <input type="number" id="age" name="age" required>
            </div>

            <div class="form-group">
                <label for="height">身長 (cm):</label>
                <input type="number" id="height" name="height" required>
            </div>

            <div class="form-group">
                <label for="weight">体重 (kg):</label>
                <input type="number" id="weight" name="weight" required>
            </div>

            <div class="form-group">
                <label>性別:</label>
                <select name="gender">
                    <option value="1">男性</option>
                    <option value="2">女性</option>
                    <option value="0">その他</option>
                </select>
            </div>

            <div class="form-group">
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">登録する</button>
        </form>
        <a href="{{ url_for('index') }}">戻る</a>
    </div>
{% endblock %}